.team-card {
  display: flex;
}
.team-card-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--additional-color);
  padding-bottom: 30px;
}
.team-card-item:not(:last-child) {
  margin-right: 30px;
}

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;

  text-align: center;

  background-color: var(--background-secondary-color);
}
.team-employee {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-employee.name {
  margin-top: 30px;

  font-weight: 500;
}

.social-links__list svg {
  width: 20px;
  height: 20px;
}

.social-links__list {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  margin-top: 16px;
}

.social-links__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: var(--social-links-color);

  transition: fill 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier);
}

.social-links__icon:hover,
.social-links__icon:focus {
  fill: var(--additional-color);
  background-color: var(--accent-color-main);
}
